{% extends 'main_app.html' %}

{% block title %} Список книг {% endblock %}

{% block content %}
{% verbatim %}
  <div class="container">
    <div class="row">
      <div class="col-12 sorting-container">
        Сортировка:
        <a href="#">Создать книгу</a>
      </div>
      <template v-if="books">
        <div v-for=" book in books" class="col-md-2 card-book">
          <a href="#" class="card-link">
            <img class="card-image" :src="book.image" :alt="book.name">
            <span class="card-title">{{ book.name }}</span>
          </a>
          <div class="card-author">{{ book.author }}</div>
          <div class="card-genre">Жанр</div>
        </div>
      </template>
      <template v-else>
        <div class="col-12">
          <div class="h3">Список пуст</div>
        </div>
      </template>
    </div>
  </div>
  {% endverbatim %}
{% endblock %}